.root {
  background-color: #f6e2dd;
  position: relative;
}

.plusIconWrapper {
  position: absolute;
  left: 32px;
  color: rgba(85, 85, 85, 0.75);
  pointer-events: none;

  svg {
    margin-top: 5px;
  }
}

.content {
  fieldset {
    border: none;
  }

  & > div {
    height: 35px;
    padding: 5px 45px 5px 65px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 0;
  }

  &__isFocused {
    & > div {
      border-top: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
  }

  textarea::placeholder {
    opacity: 1;
    color: lighten($color: #202124, $amount:35);
  }
}
