.title {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  padding: 0 15px;

  &__isDesktop {
    font-size: 32px;
    padding: 0 80px;
  }
}

.buttonWrapper {
  margin-top: 15px;
  text-align: center;

  &__isDesktop {
    margin-top: 50px;
  }
}
