.item {
  text-align: start;
  line-height: 2;
  display: flex;

  &__isDesktop {
    width: 450px;
    margin: 0 auto;
  }
}

.text {
  flex-grow: 1;
  padding: 3px 10px;
}

.dragIconWrapper {
  svg {
    margin-top: 7px;
    cursor: move;
  }
}

.closeIconWrapper {
  svg {
    margin-top: 7px;
    cursor: pointer;
  }
}
