.root {
  margin: 8px auto;

  &__isDesktop {
    max-width: 600px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
}

.title {
  font-size: 1.375rem;
  padding: 8px;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: start;
}

.taskList {
  // background-color: #f6e2dd;
  // transition: background-color 0.3s ease;

  &__isDesktop {
    padding: 8px;
  }

  &__isDraggingOver {
    // background-color: darken($color: #f6e2dd, $amount: 2);
  }
}
