.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &__isDesktop {
    padding-top: 20rem;
    display: block;
    text-align: center;
  }
  
  button {
    display: block;
    margin: 20px auto;
  }

  & > div {
    width: 80%;
  }

  &__isDesktop {
    & > div {
      width: 300px;
    }
  }
}
