.root {
  margin-top: 4rem;
  text-align: center;
  
  button {
    display: block;
    margin: 20px auto;
  }

  & > div {
    width: 80%;
  }

  &__isDesktop {
    & > div {
      width: 300px;
    }
  }
}
